<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Index Page</title>
	<!-- bootstrap styles -->
	<link rel="stylesheet" href="../styles/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../styles/css/bootstrap/bootstrap-theme.min.css">
	<!-- sidr - responive menu -->
	<link rel="stylesheet" href="../styles/css/sidr/jquery.sidr.dark.css">
	<!-- custom styles -->
	<link rel="stylesheet" href="../styles/css/application.css">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Croissant+One|PT+Sans" rel="stylesheet">

	<!-- font-awesome -->
	<script src="https://use.fontawesome.com/7f95b8e67a.js"></script>

</head>
<body>

	<div id="main">
		<div id="main-container">
			<!-- title header -->
			<div id="header">

				<!-- logout -->
				<div id="logout-button">
					<a href="#logout"><span title="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></span></a>
				</div>
				<!-- logout -->
				
				<!-- login -->
				<div id="login-button">
					<a href="#login"><span title="Login"><i class="fa fa-sign-in" aria-hidden="true"></i></span></a>
				</div>
				<!-- login -->

				<!-- my account -->
				<div id="my-account">
					<a href="#myAccount" title="My Account"><i class="fa fa-user" aria-hidden="true"></i></a>
				</div>
				<!-- my account -->

				

				<div class="row">
					<div id="assorted-colors">
						<div class="assorted-colors assorted-light"></div>
						<div class="assorted-colors assorted-md-light"></div>
						<div class="assorted-colors assorted-md-dark"></div>
						<div class="assorted-colors assorted-dark"></div>
						<div class="assorted-colors assorted-long"></div>
					</div>
				</div>

				<div class="row">
					<div class="title-text">
						<img class="healing-leaves" src="../img/leaves.png" alt="Healing Leaves">
						<span>Natural Healing Reviews</span>
					</div>
				</div>
			</div>
			<!-- title header -->

			<!-- navigation -->
			<div class="row desktop-nav">
				<nav>
					<ul class="nav nav-tabs nav-justified">
						<li><a class="active-tab" href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Find Conditions</a></li>
						<li><a href="#">Submit Treatment</a></li>
						<li><a href="#">Submit Condition</a></li>
					</ul>
				</nav>
			</div>
			<!-- navigation -->
			


			<!-- mobile nav -->
			<div class="mobile-nav mobile-nav-btn">
				<a id="simple-menu" href="#sidr"><span><i class="fa fa-bars" aria-hidden="true"></i></span></a>
			</div>
			<div id="sidr" class="mobile-nav">
				<ul>
					<li><a class="active-tab" href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Find Conditions</a></li>
					<li><a href="#">Submit Treatment</a></li>
					<li><a href="#">Submit Condition</a></li>
				</ul>
			</div>
			<!-- mobile nav -->

			<!-- content -->
			<div id="content">
				


				<div class="row">
					<div class="centered">
						<h2>Acne Wash Treatment</h2>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<div class="centered">
									<span class="rating-icon" title="Doctor Rating"><i class="fa fa-user-md" aria-hidden="true"></i></span>
									 - <span class="rating-review">9.8</span> <span class="num-reviews"> out of 5000 Reviews</span><br>
									<span class="rating-icon" title="User Rating"><i class="fa fa-user" aria-hidden="true"></i></span>
									 - <span class="rating-review">6.5</span><span class="num-reviews"> out of 200 Reviews</span>
								</div>
								
							</div>
							
						</div>
						

					</div>
					
				</div>
				<div class="row">
					<div class="centered">
						<div class="col-md-2 col-md-offset-5">
							<h4 class="margin-top-sm">Your Rating</h4>
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<select name="" id="" class="form-control">
										<option value="select">-</option>
										<option value="0">0</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div>
						<div class="col-md-6 col-md-offset-3">
							<h3 class="margin-top centered">Description of Treatment</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, culpa quasi tempore assumenda, perferendis sunt. Quo consequatur saepe commodi maxime, sit atque veniam blanditiis molestias obcaecati rerum, consectetur odit accusamus.</p>
							<h3 class="margin-top centered">Noted Side Effects/Precautions</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptates, corporis nisi dolores cumque obcaecati perferendis, quisquam, ipsa commodi labore molestias dolor itaque nam cupiditate totam, ea dicta? Sit, asperiores?</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<h3 class="centered margin-top">Supplements/Equipment</h3>
						<table class="table table-bordered table-style">
							<thead>
								<tr>
									<th>Name</th>
									<th>Brand Name</th>
									<th>Dosage/Frequency</th>
									<th>Misc Notes</th>
									<th>Cost</th>
								</tr>
							</thead>
							
							<tbody id="append">
								<tr>
									<td>Charcoal</td>
									<td>Natures Way</td>
									<td>3/day</td>
									<td>Write something</td>
									<td>256$</td>
								</tr>
								<tr>
									<td>Charcoal</td>
									<td>Natures Way</td>
									<td>3/day</td>
									<td>Write something</td>
									<td>256$</td>
								</tr>
								<tr>
									<td>Charcoal</td>
									<td>Natures Way</td>
									<td>3/day</td>
									<td>Write something</td>
									<td>256$</td>
								</tr>
								<tr>
									<td>Charcoal</td>
									<td>Natures Way</td>
									<td>3/day</td>
									<td>Write something</td>
									<td>256$</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>


				
				
				<!-- comments -->
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h3 class="margin-top centered">User Comments</h3>
							<div class="row">
								<div class="col-md-4 col-md-offset-4 centered margin-top-sm">
									<label for="">Sort By</label>
									<select class="form-control" name="" id="">
										<option value="">Date Created</option>
										<option value="">Most Likes</option>
									</select>
								</div>
							</div>
							<div>
								<h3><small class="pull-right">45 comments</small> Comments </h3>
							</div>
							<div class="comments-list">
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Wow! this is really great.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
								<div class="media comment-item">
									<p class="pull-right"><small>5 days ago</small>
									</p>
									
									<div class="media-body">

										<h4 class="media-heading user_name">Baltej Singh</h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam dolore ad incidunt nihil praesentium impedit unde voluptatem, sequi inventore ipsa vitae perferendis aspernatur voluptates dolores libero, at aperiam exercitationem neque.

										<p><small><a href="">Like</a> - <a href="">Share</a></small>
										<br><span class="user-likes"><small>2345 Likes</small></span></p>
									</div>
								</div>
							</div> <!-- end comment list -->

							<div class="margin-top">
								<button class="form-control styled-button">Load More Comments</button>
							</div>
						</div>
					</div>
				</div>
				<!-- comments -->


			</div>
			<!-- content -->


		</div>

	</div>
	<!-- end main -->



<!-- *************Scripts************* -->	
<!-- jquery -->
<script src="../js/jquery/jquery-3.1.1.min.js"></script>
<!-- sidr - reponsive menu-->
<script src="../js/sidr/jquery.sidr.min.js"></script>
<!-- bootstrap -->
<script src="../js/bootstrap/bootstrap.min.js"></script>


<!-- Custom Scripts -->
<script src="../js/custom-global.js"></script>






</body>
</html>